.slide {
    transform: scale(0.4);
    transition: transform 300ms;
    opacity: 0.4;
  }
  
  .slideWrapper {
    display: flex;
    justify-content: center;
  }
  
  .prevArrow {
    position: absolute;
    top: 40%;
    left: 30px  ;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .nextArrow {
    position: absolute;
    top: 40%;
    right: 30px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }
  